#sección1{
  width: 45%;
  height: 50vh;
  float: left;
}
#seccion2{
  width: 40%;
  height: 50vh;
  float:right;
}
 #seccion3{
   width:50%;
   height: 50vh;
   float:center;
 }
body{
  background-image: url("../img/collage.jpg");
 background-repeat: space;
}

h1{
  text-align: center;
  letter-spacing:inherit;
  background-color: pink;
  font-family: 'Handlee';

{
#caja4{
  background-color: silver

}
#caja5{
  text-align:center;

}

.p{
  text-align: center;
  letter-spacing: inherit;
  background-color: pink;
  font-family: 'Handlee';
}
