#caja1{
  width: 45%;
  height: 50vh;
  float: left;

}
#caja2{
  width: 40%;
  height: 50vh;
  float: left;
}
 #caja3{
   width:50%;
   text-align:left;
   background:
 }
body{
  background-color: silver;
  color: black;
}
h1{
  text-align: center;
  font-style: italic;

{

#caja4{
  background-color: silver
  
}
